config:
  # -
  #   key: parameter key
  #   value: parameter value
  #   plugin: plugin for non-core parameter (optional)
  -
    key: timezone
    value: Europe/Paris
  -
    key: theme
    value: padplus
  - # set default language fr (french language pack still has to be manually installed)
    key: lang
    value: fr
  - # hide language menu in navigation bar
    key: langmenu
    value: 0
  - # enable global search in top bar
    key: enableglobalsearch
    value: 1
  - # display no element on frontpage for authenticated users
    key: frontpageloggedin
    value: ''
  - # display no element on frontpage for anonymous users
    key: frontpage
    value: ''
  - # hide guest button on login page (anonymous login)
    key: guestloginbutton
    value: 0
  - # hide 'data retention summary' link in footer and profile
    key: showdataretentionsummary
    value: 0
    plugin: tool_dataprivacy
  - # customize atto toolbar to provide font and back color pickers
    key: toolbar
    value: |
      collapse = collapse
      style1 = title, bold, italic
      list = unorderedlist, orderedlist, indent
      colors = fontcolor, backcolor
      links = link
      files = emojipicker, image, media, recordrtc, managefiles, h5p
      style2 = underline, strike, subscript, superscript
      align = align
      insert = equation, charmap, table, clear
      undo = undo
      accessibility = accessibilitychecker, accessibilityhelper
      other = html
    plugin: editor_atto

  # Mobile service
  -
    key: enablemobilewebservice
    value: 1
  - # hide 'get mobile app' link in footer
    key: setuplink
    value: ''
    plugin: tool_mobile

capabilities:
  # -
  #   role: role short name (see moosh role-list)
  #   capability: capability key
  #   value: inherit|allow|prevent|prohibit
  #   contexid: (optional, default 1 = system-wide)
- # prevent all users to modify their dashboard (except admin)
  role: user
  capability: moodle/my:manageblocks
  value: inherit
