config:
  # -
  #   key: parameter key
  #   value: parameter value
  #   plugin: plugin for non-core parameter (optional)
  -
    key: timezone
    value: Europe/Paris
  -
    key: theme
    value: padplus
  - # set default language fr (french language pack still has to be manually installed)
    key: lang
    value: fr
  - # hide language menu in navigation bar
    key: langmenu
    value: 0
  - # enable global search in top bar
    key: enableglobalsearch
    value: 1
  - # display no element on frontpage for authenticated users
    key: frontpageloggedin
    value: ''
  - # display no element on frontpage for anonymous users
    key: frontpage
    value: ''
  - # hide guest button on login page (anonymous login)
    key: guestloginbutton
    value: 0
  - # hide 'data retention summary' link in footer and profile
    key: showdataretentionsummary
    value: 0
    plugin: tool_dataprivacy
  - # customize atto toolbar to provide font and back color pickers
    key: toolbar
    value: |
      collapse = collapse
      style1 = title, bold, italic
      list = unorderedlist, orderedlist, indent
      colors = fontcolor, backcolor
      links = link
      files = emojipicker, image, media, recordrtc, managefiles, h5p
      style2 = underline, strike, subscript, superscript
      align = align
      insert = equation, charmap, table, clear
      undo = undo
      accessibility = accessibilitychecker, accessibilityhelper
      other = html
    plugin: editor_atto
  - # Set number of courses per page
    key: coursesperpage
    value: 10

  # Global search
  - # enable search results in all courses available to user
    key: searchallavailablecourses
    value: 1
  - # enable search results in all visible courses
    key: searchincludeallcourses
    value: 1
  - # display search results in tabs
    key: searchenablecategories
    value: 1

  # Mobile service
  -
    key: enablemobilewebservice
    value: 1
  - # hide 'get mobile app' link in footer
    key: setuplink
    value: ''
    plugin: tool_mobile

  # Dashboard/My courses
  - # enable 'all courses' filter on course overview block
    key: displaygroupingallincludinghidden
    value: 1
    plugin: block_myoverview
  - # disable 'all courses excluding hidden' filter on course overview block
    key: displaygroupingall
    value: 0
    plugin: block_myoverview
  - # disable 'hidden courses' filter on course overview block
    key: displaygroupinghidden
    value: 0
    plugin: block_myoverview
  - # remove 'summary' from layouts in course overview block
    key: layouts
    value: card,list
    plugin: block_myoverview

capabilities:
  # -
  #   role: role short name (see moosh role-list)
  #   capability: capability key
  #   value: inherit|allow|prevent|prohibit
  #   contexid: (optional, default 1 = system-wide)
- # prevent authenticated users to modify their dashboard (except admin)
  role: user
  capability: moodle/my:manageblocks
  value: inherit
- # prevent anonymous users to browse course tree
  role: guest
  capability: moodle/category:viewcourselist
  value: inherit
- # prevent authenticated users to browse course tree
  role: user
  capability: moodle/category:viewcourselist
  value: inherit
- # reenable course browsing for manager
  role: manager
  capability: moodle/category:viewcourselist
  value: allow
- # reenable course browsing for course creator
  role: coursecreator
  capability: moodle/category:viewcourselist
  value: allow
- # reenable course browsing for student
  role: student
  capability: moodle/category:viewcourselist
  value: allow
- # enable course view for course creator (without the need to enrol)
  role: coursecreator
  capability: moodle/course:view
  value: allow
- # enable course backup for course creator (enable course copy)
  role: coursecreator
  capability: moodle/backup:backupcourse
  value: allow
- # enable course restore for course creator (enable course copy)
  role: coursecreator
  capability: moodle/restore:restorecourse
  value: allow
